# VK
BOT_TOKEN=XXX
# Postgres
POSTGRES_HOST=localhost 
POSTGRES_PORT=5432
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=vkbottle-bot

# ML 
ML_MODEL=apanc/russian-inappropriate-messages # Название модели с сайта Hugging Face, которая определяет уровнь токсичности сообщения
ML_MODEL_CACHE_DIR=./ml_model # Путь куда будет сохраняться модель, чтобы не скачивать ее каждый раз при перезапуске
TOXIC_LEVEL_THRESHOLD = 0.75 # Значение после которого сообщение считается токсичным (от 0.0 до 1.0)